#html {
  font-size: 62.5%;
}

a:link {
  color: black;
  text-decoration: underline;
}

a:visited {
  color: black;
  text-decoration: none;
}

a:hover {
}

a:active {
}

#heading {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  -moz-border-radius-topright: 15px;
  -moz-border-radius-topleft: 15px;
  background-color:#EEE;
  background-color:#EEE;
  font-family: "Tahoma";
  text-align: center;
  margin-top: 10px;
}

#heading h1 {
  font-size: 3em;
  margin-bottom: 0;
}

#heading h3 {
  text-align: center;
  margin-top: 15px;
}

#body {
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #EEE;
}

#outer {
  width: 100%;
}

#inner {
  width: 800px;
  margin:auto;
}

#body {
  font-family: "Tahoma";
  padding: 20px 0 0 0;
}

#navigation ul {
  margin: 10px 0 0 0;
  list-style-type: none;
  list-style-image: none;
}

#navigation li {
  display: inline;
  font-size: 1.2em;
  margin: 0 8px 0 8px;
}

#body p {
  margin-bottom: 10px;
  line-height: 22px;
}

#content {
  float: left;
  width: 80%;
  margin-right: 30px;
  margin-left: 15px;
}

#content h1 {
  font-size: 1.7em;
  margin-bottom: 10px;
}

#right_side {
  float: right;
}

#right_side ul {
  list-style-type: none;
  list-style-image: none;
}

#right_side h5 {
  font-size: 1em;
  font-weight: normal;
  margin-bottom: 10px;
}

#right_side ul {
  margin-bottom: 12px;
}

#right_side li {
  font-size: 0.9em;
  margin-bottom: 5px;
}


#footer {
  padding-top:40px;
  clear: both;
}
