//
//24.000  1.5
//20.000  1.25
//19.200  1.2
//16.000  1 1
//15.360  0.96
//12.800  0.8
//12.288  0.768
//10.240  0.64
//9.830 0.614

body {
  font-family: 'Lato', sans-serif;
}

.left-border {
  height: 1px;
}

.site {
  padding-top: 5em;
}

.title h1 {
  font-size: 2.344em;
  line-height: 0em;
}

.title h2 {
  font-size: 0.8em;
  font-style: italic;
  color: #444;
}

.links {
  padding-left: 0;
  margin-left: 0;
  font-size: 0.8em;
}

.links li {
  display: inline;
  list-style-type: none;
}

.links a {
  text-decoration: none;
  color: #444;
}

.blog-sections ul {
  font-size: 1em;
  color: #222;
}

.blog-sections a {
  text-decoration: none;
  color: #444;
}

.blog-sections li {
  list-style-type: none;
  margin-bottom: 5px;
}

.blog-sections {
  float: left;
  padding-right: 10px;
}

p {
  font-size: 1em;
}

.content article {
  padding-bottom: 2em;
}

.content article .date {
  padding: 0;
  margin-top: 0;
  font-size: 0.8em;
  font-style: italic;
}

.content h1 {
  padding-bottom: 0;
  margin-bottom: 0;
  font-size: 1.5em;
}

.content h2 { 
  font-size: 1.1em;
  color: #222;
}

