@import '/css/normalize.css';
@import "http:\/\/fonts.googleapis.com/css?family=Open+Sans:400,700";
@import '/css/simplegrid.css';

body {
  font-family:'Open Sans', sans-serif;
  color: #333;
  line-height: 1.5em;
}

h1, h2, h3, h4, h5 {
  font-weight: 700;
}

.left-border {
  height: 1px;
}

.heading {
  padding-top: 2em;
  margin-bottom: 3em;
}

.title h1 {
  font-size: 2.344em;
  line-height: 0em;
}

.title h2 {
  font-size: 0.8em;
  font-style: italic;
}

.links {
  padding-left: 0;
  margin-left: 0;
  font-size: 0.8em;
}

.links li {
  display: inline;
  list-style-type: none;
}

.links a {
  text-decoration: none;
  color: #333;
}

.links a {
  text-decoration: none;
  color: #333;
}

.blog-sections ul {
  font-size: 1em;
}

.blog-sections a {
  text-decoration: none;
  color: #333;
}

.blog-sections li {
  list-style-type: none;
  margin-bottom: 5px;
}

.blog-sections {
  float: left;
  padding-right: 10px;
}

p {
  font-size: 1em;
}

.content article {
  padding-bottom: 2em;
}

.content article .date {
  padding: 0;
  margin-top: 0;
  font-size: 0.8em;
  font-style: italic;
}

.content h1 {
  padding-bottom: 0;
  margin-bottom: 0;
  font-size: 1.5em;
}

.content h2 { 
  font-size: 1.1em;
}

.warning {
  font-size: 0.8em;
  font-style: italic;
  padding-bottom: 2em;
}


