<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.title }}</title>
    <meta name="author" content="Eric Smith" />
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href="//cdn-images.mailchimp.com/embedcode/slim-081711.css" rel="stylesheet" type="text/css">
    <link href="/css/styles.css" rel="stylesheet">
    <link href="/css/syntax.css" rel="stylesheet">
    <link rel="icon" type="image/png" href="images/leilani.png" />
  </head>
  <body>

    <div class="container">
      <div class="row">
        <div id="header">
          <div class="two columns">
            <h1 class="name">Eric Smith</h1>
          </div>
          <div class="seven columns">
            <h1 class='guide'>
              <a href="/index.html">The Guide to Real World TDD</a>
            </h1>
          </div>
        </div>
      </div>

      <div class="row">
        <div id="content">
          <div class='three columns'>
            <img style="border-radius: 10px;" src="http://www.gravatar.com/avatar/50a0ab317d34860d16f8e2f9da4313fc" alt="A picture of me"/>
            <h6 style="font-weight:bold">Eric Smith</h6>
            <p id="biography">
              Polyglot developer, trainer, writer and indie game developer.
              Writer of the <a href="/index.html">The Guide to Real World TDD</a>. Director
              of Training Services at 8th Light.
            </p>
            <ul class="links">
              <li><em><a href="/software-development/index.html">Blog</a></em> / </li>
              <li><a href="http://www.8thlight.com">Day Job</a> / </li>
              <li><a href="https://github.com/paytonrules">GitHub</a> / </li>
              <li><a href="http://twitter.com/paytonrules">Twitter</a> </li>
            </ul>
            <div class='greatest-hits'>
              <ul>
                <li>Greatest Hits</li>
                <li><a href="/software-development/2014/10/10/simple-legacy-tricks.html">Simple Legacy Code Tricks</a></li>
                <li><a href="http://paytonrules.com/software-development/2014/11/29/how-many-mocks-per-test.html">How Many Mocks?</a></li>
              </ul>
            </div>
          </div>
          <div class="seven columns">
            <div class="content">
              {{ content }}
            </div>
            <div id="signup">
              <p>Want to learn how to write clean, working code fast? </p>
              <p>Sign up to my newsletter to get early access to the Guide to Real World TDD and tips and tricks for making TDD effective in your codebase, regardless of language or platform.</p>

              <div id="mc_embed_signup">
                <form action="//paytonrules.us8.list-manage.com/subscribe/post?u=f45a2d123fa8964df7de31f7a&amp;id=28298291e9" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                  <div id="mc_embed_signup_scroll">
                    <label for="mce-EMAIL">Subscribe to our mailing list</label>
                    <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
                    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                    <div style="position: absolute; left: -5000px;"><input type="text" name="b_f45a2d123fa8964df7de31f7a_28298291e9" tabindex="-1" value=""></div>
                    <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
  </body>
</html>
