<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.title }}</title>
    <meta name="author" content="<%= @page.author %>" />
    <link href="/css/normalize.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Lato:400,700,400italic' rel='stylesheet' type='text/css'>
    <link href="/css/styles.css" rel="stylesheet">
  </head>
  <body>
    <div class="title">
      <h1>Paytonrules Rants</h1>
      <p>A chronicle of my daily battles with indie game development, consulting, and JavaScript.</p>
    </div>

    <div class="content">
      {{ content }}
    </div>

    <div class="right-col">
      <p>The Games</p>
      <ul>
        <li><a href="games/feed_the_quinn/index.html">January: Feed The Quinn</a></li>
        <li><a href="games/HuntTheWumpus.zip">March: Hunt The Wumpus</a></li>
      </ul>
      <p>My Day Job</p>
      <ul>
        <li><a href="http://www.8thlight.com">8th Light</a></li>
      </ul>
      <p>Contact me</p>
      <ul>
        <li><a href="http://twitter.com/paytonrules">Twitter</a></li>
        <li><a href="http://www.linkedin.com/pub/eric-smith/4/3b3/94b">LinkedIn</a></li>
        <li><a href="https://github.com/paytonrules">GitHub</a></li>
      </ul>
    </div>
    <script src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
  </body>
</html>
