<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.title }}</title>
    <meta name="author" content="Eric Smith" />
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href='//fonts.googleapis.com/css?family=Raleway:400,300,600' rel='stylesheet' type='text/css'>
    <link href="//cdn-images.mailchimp.com/embedcode/slim-081711.css" rel="stylesheet" type="text/css">
    <link href="/css/styles.css" rel="stylesheet">
    <link href="/css/syntax.css" rel="stylesheet">
    <link rel="icon" type="image/png" href="images/leilani.png" />
  </head>
  <body>
    <div class="container">
      <div class="content">
        <h1> {{page.title}}</h1>
        {{ content }}
      </div>
      <form action="//paytonrules.us8.list-manage.com/subscribe/post?u=f45a2d123fa8964df7de31f7a&amp;id=28298291e9" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
        <div>
          <p><em>Want to learn to write clean, working code fast?</em></p>
          <p><em>Sign up to my newsletter to get early access to the
              Guide to Real World TDD and tips and tricks for making
              TDD effective in your codebase, regardless of language or platform.</em></p>

          <input type="email" value="" name="EMAIL" class="u-full-width" id="mce-EMAIL" placeholder="email address" required>
          <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
          <div style="position: absolute; left: -5000px;"><input type="text" name="b_f45a2d123fa8964df7de31f7a_28298291e9" tabindex="-1" value=""></div>
          <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button-primary"></div>
        </div>
      </form>
    </div>
  </body>
</html>
