<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.title }}</title>
    <meta name="author" content="Eric Smith" />
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href='//fonts.googleapis.com/css?family=Raleway:400,300,600' rel='stylesheet' type='text/css'>
    <link href="//cdn-images.mailchimp.com/embedcode/slim-081711.css" rel="stylesheet" type="text/css">
    <link href="/css/styles.css" rel="stylesheet">
    <link href="/css/syntax.css" rel="stylesheet">
    <link rel="icon" type="image/png" href="/images/leilani.png" />
  </head>
  <body>
    <div class="container">
      <div class="row">
        <p><a href="/">Back To The Home Page</a></p>
      </div>
      <div class="row">
        <h1 class="pitch_title"> {{page.title}}</h1>
      </div>
      <div class="row">
        {{ content }}
      </div>
      {% include call_to_action.html %}
    </div>
    {% include google_analytics.html %}
  </body>
</html>
