<!DOCTYPE html>
<html>
  <head>
    <title>Real World TDD</title>
    <meta name="author" content="Eric Smith" />
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href='//fonts.googleapis.com/css?family=Raleway:400,300,600' rel='stylesheet' type='text/css'>
    <link href="/css/styles.css" rel="stylesheet">
    <link href="/css/syntax.css" rel="stylesheet">
    <link rel="icon" type="image/png" href="/images/leilani.png" />
  </head>
  <body>
    <div class="container">
      {{ content }}
    </div>
  </body>
</html>

